html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

a {
    margin-right: 15px;
    color: rgb(145, 145, 145);
    text-decoration: underline;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 69px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    z-index: 10;
}

.spacer {
    height: 69px;
    width: 100%;
}

.logo {
    text-align: left;
    padding-left: 10px;
    height: 50px;

}

#mission {
    z-index: 1;
    height: 700px;
    width: 1200px;
    margin-left:auto;
    margin-right: auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;  

}

.text {
    background-color: black;
    text-align: center;
    width: 100%;
}

#featured {
    margin-top: 70px;
}


.imgcol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    gap: 20px;
    row-gap: 40px;
}

.imgcol p {
    vertical-align: top;
    text-align: center;
    line-height: 1;
    margin: 0px;
    padding-top: 10px;
}

#locations {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    width: 1200px;
    height: 500px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.boxes {
    display: flex;
    margin: auto;
    flex-direction: row;
    gap: 40px;
}

.boxes div {
    width: 300px;
    background-color: black;
    line-height: 150%;
}

#locations h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    margin-bottom: 15px;
}

#contact {
    height: 200px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}